<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--
    <bean name="person" class="autowire.byName.Person" autowire="no">
        <property name="xiaoMing" ref="xiaoMing"></property>
    </bean>

    <bean name="xiaoMing" class="autowire.byName.XiaoMing"></bean>
    -->

    <!--<bean name="person" class="autowire.byName.Person" autowire="byName">

    </bean>

    <bean name="xiaoMing001" class="autowire.byName.XiaoMing"></bean>-->

    <bean name="person" class="autowire.byName.Person" autowire="byType">

    </bean>

    <bean name="xiaoMing" class="autowire.byName.XiaoMing"></bean>

</beans>